
/*Lets clean and reset styles! */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background: black;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

button{
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none;
}

/*Main styles*/

html{
    -webkit-font-smoothing: antialiased;
    color: #3C4146;
    font-size: 80%;

}

body{
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

/*hamburger*/

.deskop-hidden{
    display: none;
}

.hamburger{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}

.navbar-toggle{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.navbar-toggle__bar{
    display: block;
    margin-top: 6px;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 10%;
}

.navbar-toggle__bar:first-child{
    margin-top: 0px;
}

.wrapper{
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 75px;
    padding-right: 75px;
}


.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #232323;
    z-index: 9999;
}

/*logo styles*/

.logo-section{ 
    display: flex;
    height: 60px;
    align-items: center;
    float: left;
}

.logo-section__image{
    margin-top: -10px;
    display: block;
    max-width: 250px;
}

.logo-section__image:after{
    content: "studio architektury i budownictwa";
    font-size: 1em;
    position: absolute;
    color: white;
    height: auto;
    width: 500px;
    z-index: 999999;
    display: block;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    opacity: 0.8;
}

.logo-section__image img{
    height: auto;
    width: 100%;

}
/*navigation styles*/

.navigation{
    float: right;
}

.nav-list{
    list-style-type: none;
}

.nav-list__item{
    display: inline-block;
    margin-right: 5px;
}

.nav-list__item:last-child{
    margin-right: 0;
    
}

.nav-list__item a{
    display: block;
    line-height: 60px;
    padding: 0 10px;
    transition: all 0.2s ease-in;
}

.nav-list__item--style a{
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.nav-list__item:hover a,
.nav-list__item.active a
{
    color: #fff;
}

.navigation-submenu{
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#projects{
    cursor: pointer;
}

#projects:hover .navigation-submenu{
    display: block;
}

.navigation-submenu .navigation-submenu__item-list a{
    color: #bbb;
    font-weight: 400;
}

.navigation-submenu .navigation-submenu__item-list a:hover{
    color: #fff;
}




/*Main sections background*/

.section{
    display: flex;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.section:not(#start-section):after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    z-index: -1;
    
}

#start-section{
    background: url("../../assets/img/main_bg.jpg");
 }

 #flat-objects{
    background: url("../../assets/img/flat-main.jpg");
    
 }

 #services-buildings{
    background: url("../../assets/img/servc-bld.jpg");
 }

 #maintenance{
    background: url("../../assets/img/meintenance.jpg");
 }

 #commercial{
    background: url("../../assets/img/commercial.jpg");
 }

 .project-badge{
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
 }


 .project-badge a{  
    display: inline-block;
    padding: 40px 40px;
    background: rgba(0,0,0,0.3);
    text-decoration: none;
    cursor: pointer;
    font-family: 'BenchNine', sans-serif;
 }

.project-badge.project-badge--bordered a{
    border: 5px solid white;
}

 .project-badge__title--style{
   color: white;
   text-transform: uppercase;
   font-size: 5em;
   font-weight: 600;
   letter-spacing: -1px;
 }



#fp-nav ul li a span,
#fp-nav ul li a.active span{
    background: white;
    border-radius: 10%;
}


/*Project section style*/

.section.section-project{
    padding-left:75px;
    padding-right:75px;
}

    /*==Background section==*/

.section-project:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../../assets/img/main_bg.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
   opacity: 0.5;
}

.project-container{
    max-width: 1600px;
    margin: 0 auto;
    max-height: 90vh;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
}

/*Left side - Project data description*/

.project-description{
   width: 25%;
   height: 100%;
   background: #232323;
}

.project-description__item{
    padding: 20px;
}

.project-description h2{
   font-size: 2em;
   color: white;
   text-transform: uppercase;
   padding-bottom: 10px;
   border-bottom: 1px solid #fff;
   font-weight: 600;
}

.project-description p{
   padding-top: 20px;
   color: white;
}

.project-description p span{
   font-weight: 600;
   letter-spacing: 1px;
}


/*Slider Style - Righ Section (Project section)*/


.project-slider{
   width: 75%;
   height: 100%;
   background: rgba( 53, 43, 43, 0.8);
}

.slider{
    width: 100%;
    height: 100%;
}

.slider div{
    display: block;
    height: 100%;
    width: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/*Projects*/

/*MAKUSZYNSKIEGO*/

#makuszynskiego .slider div:nth-child(2){
    background: url("../../projekty/obiekty-mieszkaniowe/makuszynskiego/1.jpg"); 
}

#makuszynskiego .slider div:nth-child(3){
    background: url("../../projekty/obiekty-mieszkaniowe/makuszynskiego/2.jpg");
}

#makuszynskiego .slider div:nth-child(4){
    background: url("../../projekty/obiekty-mieszkaniowe/makuszynskiego/3.jpg");
}

/*Contact Section*/

.contact-section{
    background: #464646;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .wrapper{
    width: 100%;
}

.contact-container{
    width: 100%;
    height:85vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 75px;
    padding-right: 75px;
}

.contact-container .contact-container__left-side{
    height: 100%;
    width: 40%;
    background: rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: column;
}

.contact-container .contact-container__right-side{
    height: 100%;
    width: 60%;
}

.contact-container__contact-form,
.contact-container__data{
    height: auto;
    width: 100%;
    padding: 20px;
}

.contact-container__contact{
    font-size: 4em;
    color:white;
}

.contact-container__data{
    background: rgba(0,0,0,0.3);
}

.contact-container__data ul{
    list-style-type: none;
    margin-top: 10px;
    display: inline-block;
    float: left;
}

.contact-container__data ul:nth-child(3){
    margin-left: 20px;
}

.contact-container__data li{
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid white ;
}
    

.contact-container__data p{
     color: white;
     font-weight: 400;
     font-size: 1em;
}

.contact-container__data span{
    font-weight: 600;
}

.contact-container .contact-container__map{
    width: 100%;
    height: 100%;
    background: pink;
}

/*About*/


.about-section{
    height: 100vh;
    width: 100%;
    background: white;
}

.about-container{
    max-width: 1600px;
    width: 100%;
    height: 100%;
    padding-right: 75px;
    padding-left: 75px;
    display: flex;
    flex-direction: row;
}

.about{
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.about__right-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about__left-side{
    width: 50%;
    height: 100%;
}

.about__left-side h2{
    font-size: 4em;
    color: #3C4146;
    

}

.about__left-side p{
     margin-top: 20px;
     color:  #3C4146;
     font-weight: 400;
     font-size: 1em;
     line-height: 2em;
     letter-spacing: 1px;
}

.person{
    height: auto;
    width: auto;
    color: #3C4146;
    font-size: 1.2em;
    font-weight: 600;
}

.person p{
    margin-top: 20px;
    text-align: center;
    display: block;
}

.person__picture{
     height: 200px;
     width: 200px;
     margin-left: 10px;
     border-radius: 100%;
     background: red;
}



.person__picture--circle{
     border-radius: 100%;
     background-image: url(../../assets/img/profile.jpg);
     background-repeat: no-repeat;
     background-position: left top;
     background-size: cover;
}

/*Footer*/

.footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #232323;
}

.footer__text{
    color: #bbb;
    opacity: 0.7;
}

.contact-section__footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background: #232323;
}




/*===========Animations==============*/

/*Mobile horizontal animation*/

@-webkit-keyframes movebg {
  0%   { background-position: right top }
  50%  { background-position: left top }
  100% { background-position: right top }
}
@-moz-keyframes movebg {
   0%  { background-position: right top }
  50%  { background-position: left top }
  100% { background-position: right top }
}
}
@-o-keyframes movebg {
   0%  { background-position: right top }
  50%  { background-position: left top }
  100% { background-position: right top }
}
@keyframes movebg {
   0%  { background-position: right top }
  50%  { background-position: left top }
  100% { background-position: right top }
}





/*Break points for media query*/

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    @media screen and (min-width : 1200px) and (min-height: 800px){
        .project-container{
        max-height: 70vh;
}
    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    @media only screen and (max-width: 1200) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .project-badge__title--style{
           font-size: 5em;
         }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

       .arrow-down.deskop-hidden{
            display: flex;
        }

        .sm-only{
            display: flex;
        }
        
        .wrapper{
            padding-left: 10px;
            padding-right: 10px;
        }

        .deskop-hidden{
            display: none;
        }

        .main-header{
            display: flex;
            z-index: 9999;
            border-bottom: 1px solid rgba(255,255,255,0.3);
        }

        .logo-section{
            transform: scale(0.8);
        }

        .logo-section__image:after{
            margin-top: 4px;
        }

        .navigation{
            position: absolute;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            background: black;
            left: 0;
            top: 60px;

            -webkit-transform: translate3d(100%, 0, 0);
            -moz-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100% 0, 0);
            -o-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);

            transition: all 0.3s ease-in-out;
        }

        .nav-list__item{
            display: flex;
            flex-direction: column;
            justify-content: left;
            border-bottom: 1px solid rgba(255, 255 , 255 , 0.3);
            margin:  0 10px;
        }

        .nav-list__item a{
            font-size: 1.2em;
            letter-spacing: 0px;
            font-weight: 500;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        
         .nav-list__item .arrow-down{
            margin-right: 20px;
        }


         .nav-list__item .fa-arrow-down{
            display: block;
            color: white;
    
        }

        .nav-list__item--style a{
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            letter-spacing: 2px;
}

        .nav-list__item:hover a,
        .nav-list__item.active a
        {
            color: #fff;
        }

        .navigation__opened{
            -webkit-transform: translate3d(0%, 0, 0);
            -moz-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0% 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);

            transition: all 0.3s ease-in-out;
        }

    
        .navigation-submenu{
            display: none;
            width: 100%;
            transition: all 0.5s ease-in;
            position: relative;
            width: 100%;
        }

       .navigation-submenu__item-list{
            display: block;
            margin:  0 20px;
       }

        .navigation-submenu__item-list a{
            font-size: 1em;
            font-weight: 400;
            display: block;
            text-transform: uppercase;
            color: #bbb;
            padding: none;
            text-decoration: none;
            line-height: 50px;
            border-bottom: 1px solid rgba(255, 255 , 255 , 0.3);
       }

        .navigation-submenu__item-list:last-child{
            border-bottom: 0px solid rgba(255, 255 , 255 , 0);
       }

        .navigation-submenu__item-list a:hover{
            color:red;
       }

        #projects:hover .navigation-submenu{
            display: none;
      }
        #start-section{
            background-size: auto 100%;
            -webkit-animation: movebg 20s infinite ease-in-out; /* Safari 4+ */
            -moz-animation:    movebg 20s infinite ease-in-out; /* Fx 5+ */
            -o-animation:      movebg 20s infinite ease-in-out; /* Opera 12+ */
            animation:         movebg 20s infinite ease-in-out; /* IE 10+, Fx 29+ */
        }
        
        /*Hide navigation when small screen*/

        #fp-nav{
            display: none;
        }

        .project-badge a{ 
            padding: 40px 20px;
            line-height: 40px;
         }



         .project-badge__title--style{
           color: white;
           text-transform: uppercase;
           font-size: 5em;
           font-weight: 600;
           line-height: 60px;
           letter-spacing: -1px;
         }

         .section.section-project{
            padding: 0;
         }

         .project-container{
            max-height: 100%;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            flex-direction: column;
         }

         .project-description{
            display: block;
            width: 100%;
            height: auto;
         }

         .project-description__item h2{
            display: block;
            width: 100%;
         }

         .project-description__data {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

         }

         .project-description__data p{
            width: 50%;
         }

         .project-slider{
            height: 100%;
            width: 100%;
         }

         /*Contact Section*/

        .contact-section{
            background: #464646;
            width: 100%;
            height: auto;
            min-height: auto;
            display: flex;
            flex-direction: column;
        }

        

        .contact-container{
            width: 100%;
            height:auto;
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            padding-left: 0;
            padding-right: 0;
        }

        .contact-container .contact-container__left-side{
            height: auto;
            width: 100%;
            background: rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
        }

        .contact-container .contact-container__right-side{
            height: auto;
            width: 100%;
        }

        .contact-container__data{
            height: auto;
            width: auto;
            padding: 0px;

        }

        .contact-container__contact-form{
            display: none;
        }

        .contact-container__contact-form{
            height: 300px
            background: red;
        }

        .contact-container__contact{
            font-size: 3em;
            color:white;
        }

        .contact-container__data{
            background: rgba(0,0,0,0.3);
            padding-bottom: 20px;
        }

        .contact-list{
            padding: 10px;
        }

        .contact-container__data ul{
            list-style-type: none;
            margin-top: 10px;
            display: inline-block;
            float: left;
            width: 50%;
        }

        .contact-container__data ul:nth-child(3){
            margin-left: 0px;
        }

        .contact-container__data li{
            margin-top: 10px;
            padding-bottom: 5px;
            border-bottom: none;
        }
            

        .contact-container__data p{
             color: white;
             font-weight: 400;
             font-size: 1em;
        }

        .contact-container__data span{
            font-weight: 600;
        }

        .contact-container .contact-container__map{
            width: 100%;
            height: 500px;
            background: pink;
        }



    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
         .project-badge__title--style{
           font-size: 3em;
           line-height: 40px;
         }

         .project-description__item h2{
            font-size: 1.5em;
         }

         .project-description__item p{
            font-size: 1em;
            padding-top: 10px;
         }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }